@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

body{
    background-color:  #f2ebe3;
    box-sizing: border-box;
    margin: 0%;
}
.card-out{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.card{
    width: 40%;
    min-width: 500px;
    min-height: 400px;
    height: 60vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}
.card-img{
    width: 100%;
    min-height: 60vh;
    background-image: url(/img/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 35px;
    margin: 0px;
    box-sizing: border-box;

}
.card-detail-type{
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #6c7289;
    
}
.card-detail-title{
    font-family: fraunces;
    font-size: 35px;
    margin: 0px;
    line-height: 30px;
    color: #1c232b;
}
.card-detail-description{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #6c7289;
    padding-top: 5px;
}
.card-detail-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.card-detail-price-promo{
    color: #3c8067;
    font-family: fraunces;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}
.card-detail-price-off{
    font-family: Montserrat;
    text-decoration:line-through;
    font-weight: 500;
    font-size: 14px;
    color: #6c7289;
}
button{
    all: unset;
    cursor: pointer;
    margin-top: 10px;
}
.card-detail-btn{
    background-color: #3c8067;
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    
}
svg{
    width: 20px;
    height: 15px;
    fill: white;
}
.card-detail-btn-txt{
    font-family: Montserrat;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

@media (max-width: 600px){
    body{
        margin: 0px;
        padding: 0px;
    }
    .card-out{
        width: 100%;
        min-height: 100vh;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    .card{
        width:90%;
        min-width: 345px;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        box-sizing: border-box;
    }
    .card-img{
        width: 100%;
        min-height: 30vh;
        background-image: url("/img/1.jpg");
    }
    .card-detail{
        width: 100%;
        height: 100%;
        gap: 0px;
        box-sizing: border-box;
    }
    .card-detail-title{
        line-height: 40px;
    }
    .card-detail-description{
        
        line-height: 28px;
        
    }
}